In [1]:
import pandas as pd


def generate_calendar_table(start='2000-01-01', end='2050-12-31'):
    """Generate calendar table dimension."""

    df = pd.DataFrame({'date': pd.date_range(start, end)})
    df['day'] = df['date'].dt.day_of_week
    df['week'] = df['date'].dt.isocalendar().week
    df['month'] = df['date'].dt.month
    df['quarter'] = df['date'].dt.quarter
    df['semester'] = (df['quarter'] + 1) // 2
    df['year'] = df['date'].dt.year

    df.set_index('date', inplace=True)
    return df


df = generate_calendar_table()
df.to_csv('data/raw/calendar.csv')
df

            day  week  month  quarter  semester  year
date
2000-01-01    5    52      1        1         1  2000
2000-01-02    6    52      1        1         1  2000
2000-01-03    0     1      1        1         1  2000
2000-01-04    1     1      1        1         1  2000
2000-01-05    2     1      1        1         1  2000
...         ...   ...    ...      ...       ...   ...
2050-12-27    1    52     12        4         2  2050
2050-12-28    2    52     12        4         2  2050
2050-12-29    3    52     12        4         2  2050
2050-12-30    4    52     12        4         2  2050
2050-12-31    5    52     12        4         2  2050

[18628 rows x 6 columns]